* {
    box-sizing: border-box;
}

html {
    font-family: 'Open Sans', sans-serif;
}

div.wrapper {
    width: 750px;
    position: absolute;
    left: 0;
    right: 0;
    margin: auto;
    color: #222222;
    text-align: center;
}

h1.title {
    font-size: 40pt;
    text-align: center;
    color: white;
    padding: 15px;
    background: linear-gradient(to top left, #c91a5d, #db4930);
    border-radius: 5px;
}

h2 {
    text-align: left;
    margin-bottom: 0;
}

pre {
    margin-top: 0;
    text-align: left;
}

pre, code {
    font-family: 'Inconsolata', monospace;
}

p {
    text-align: left;
    font-size: 13pt;
}

table {
    display: inline-table;
    margin-bottom: 50px;
}


td {
    padding-left: 20px;
    padding-right: 20px;
    vertical-align: top;
}

footer {
    position: fixed;
    bottom: 0;
    padding: 4px;
    padding-right: 16px;
    color: #b1b1b1;
    width: 100%;
    text-align: right;
}
